<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/firstservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lab2Servlet</servlet-name>
        <servlet-class>Asn2Sample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lab2Servlet</servlet-name>
        <url-pattern>/Asn2Sample</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PictureBrowse</servlet-name>
        <servlet-class>PictureBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PictureBrowse</servlet-name>
        <url-pattern>/PictureBrowse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBigPic</servlet-name>
        <servlet-class>GetBigPic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBigPic</servlet-name>
        <url-pattern>/GetBigPic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetOnePic</servlet-name>
        <servlet-class>GetOnePic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOnePic</servlet-name>
        <url-pattern>/GetOnePic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleQueryNew</servlet-name>
        <servlet-class>SimpleQueryNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleQueryNew</servlet-name>
        <url-pattern>/SimpleQueryNew</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>UploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>EditImage</servlet-name>
        <servlet-class>EditImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditImage</servlet-name>
        <url-pattern>/EditImage</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>EditForm</servlet-name>
        <servlet-class>EditForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditForm</servlet-name>
        <url-pattern>/EditForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchBrowse</servlet-name>
        <servlet-class>SearchBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchBrowse</servlet-name>
        <url-pattern>/SearchBrowse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TopBrowse</servlet-name>
        <servlet-class>TopBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopBrowse</servlet-name>
        <url-pattern>/TopBrowse</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>Groups</servlet-name>
        <servlet-class>Groups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Groups</servlet-name>
        <url-pattern>/Groups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Analyze</servlet-name>
        <servlet-class>Analyze</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Analyze</servlet-name>
        <url-pattern>/Analyze</url-pattern>
    </servlet-mapping>




</web-app>
